extends layout

block content
  h1 Coronavirus cases in MA
  p Individuals tested positive: #{positive}
  p Increase in positive cases since yesterday: #{positiveInc}
  p Deaths: #{deaths}
  p Increase in deaths since yesterday: #{deathsInc}
